*.o
.DS_Store
.*.sw?
.sw?
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
*.orig
*.rej
*~
.svn/*
**/.svn/*
.svn/
build_*.txt
/initfiles
makeinitrd
*.new
makekernel
makesure
totalbuild
upload
Session.vim
